<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>PixelDraw</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <h1 class="logo">Pixel<span class="secondary-color">Draw</span></h1>
    <ul class="nav">
      <li class="nav-item">
        <a href="/" class="nav-btn" id="new"><i class="fa fa-plus-square"></i></a>
      </li>
    </ul>
  </header>
  <main class="display-main">
    <section class="display-section">
      <h2>Painting: <%= painting.title%></h2>
      <h3>By: <%= painting.author%></h3>
      <div class="canvas-wrapper">
        <div class="canvas">
          <% for(let i = 0; i < 32; i++) { %>
            <% for(let j = 0; j < 32; j++) { %> 
              <div class="pixel-cell" id="px-<%=i%>-<%=j%>"
                data-row="<%=i%>" data-col="<%=j%>"
                style="background-color: <%=painting.pixelColorMatrix[i][j]%>;"></div>
            <% } %> 
          <% } %>
        </div>
      </div>
    </section>
  </main>
</body>

</html>