<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>PixelDraw</title>
</head>

<body>
  <header>
    <h1 class="logo">PixelDraw</h1>
    <ul class="nav">
      <li class="nav-item">
        <p class="nav-btn" id="save">Save</a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-btn">New</a>
      </li>
    </ul>
  </header>
  <main>
    <section class="display-section">
      <h2><%= painting.title%></h2>
      <div class="canvas">
        <% for(let i = 0; i < 8; i++) { %>
          <% for(let j = 0; j < 8; j++) { %> 
            <div class="pixel-cell" id="px-<%=i%>-<%=j%>"
              data-row="<%=i%>" data-col="<%=j%>"
              style="background-color: <%=painting.pixelColorMatrix[i][j]%>;"></div>
          <% } %> 
        <% } %>
      </div>
    </section>
  </main>
</body>

</html>